.container{
    margin-top: 30px;
    width: 200px;
    height: 600px;
    background-color: black;
    padding-top: 15px;
}
.enfoque{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-color: blue;
}   
.red{
    background-color: red;
    height: 180px;
    width: 180px;
    border-radius: 100%;
   
}
.yellow{
    background-color: rgb(255, 225, 0);
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin-top:10px;
   
}
.green{
    background-color: rgb(12, 163, 27);
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin-top:10px;
   
}
.glow{
    margin:30px;
    border-radius:100%;
    box-shadow: 0 0 30px 20px greenyellow;
    animation: glow 1.5s
}

