.container{
    margin-top: 30px;
    width: 200px;
    height: 600px;
    background-color: black;
    padding-top: 15px;
   
}
.light{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    background-color: blue;
    margin-top: 5px;
    margin-right: 5px;
}   
.red{
    background-color: rgb(77, 4, 4);
}
.light-red{
    background-color: red;
}
.yellow{
    background-color: rgb(108, 96, 8); 
}
.light-yellow{
    background-color: yellow;
}
.green{
    background-color: rgb(8, 67, 14);
}
.light-green{
    background-color: rgb(134, 215, 12);
}
button{
    width: 200px;
    height:50px;
    margin-top: 10px;
    background-color: blanchedalmond;
    border-radius: 50px;
}

